---
import FormattedDate from "./FormattedDate.astro";
import Taxonomies from "./Taxonomies.astro";

const { page } = Astro.props;
---

<div class="bg-surface-0 text-subtext-0 flex flex-col gap-4 rounded p-4 cursor-pointer shadow-md hover:shadow-lg" data-location={`/page/${page.id}`}>
  <div>
    <a class="link text-2xl hover:text-red" href={`/page/${page.id}`}>{page.data.title}</a>
  </div>
  <div>{page.data.description}</div>
  <div class="text-peach flex flex-col gap-2 md:flex-row md:gap-4">
    <div><i class="bi bi-calendar2-week-fill"></i>&nbsp;<FormattedDate date={new Date(page.data.date)} /></div>
  </div>
  <Taxonomies tags={page.data.tags} categories={page.data.categories} />
</div>
